.qui{
    border-bottom: 3px solid #7ECC3C;
    text-align: start!important;
}
.text-Align{
    text-align: start!important;
    margin-left: 16%;
    font-family: 'Poppins'!important;
    color: #404748;
}